player-connection-mode=Listen
player-connection-guid=3446507823
player-connection-debug=0
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.21
player-connection-ip=172.17.74.225
profiler-enable-on-startup=1
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
scripting-runtime-version=latest
vr-enabled=0
hdr-display-enabled=0
